# A global decline in smoking masks regional variations between the sexes

In [25]:
from lxml import etree
import urllib.request

# Extracting data from 
'https://www.thelancet.com/action/showFullTableHTML?isHtml=true&tableId=tbl1&pii=S0140-6736%2817%2930819-X'

In [26]:
import requests
import pandas as pd

url = 'https://www.thelancet.com/action/showFullTableHTML?isHtml=true&tableId=tbl1&pii=S0140-6736%2817%2930819-X'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[-1]

df.to_csv('my data.csv')

Printing the first 5 rows of the data to see what it looks like

In [27]:
print(df.head(5))

       Unnamed: 0        SDI level 2015 female age-standardised prevalence  \
0          Global              NaN                     5Â·4 (5Â·1 to 5Â·7)
1     Afghanistan          Low SDI                     7Â·0 (4Â·6 to 9Â·7)
2         Albania  High-middle SDI                     2Â·3 (1Â·8 to 2Â·9)
3         Algeria       Middle SDI                     2Â·2 (1Â·5 to 3Â·2)
4  American Samoa  High-middle SDI                  12Â·8 (10Â·3 to 15Â·4)

  2015 male age-standardised prevalence  \
0                25Â·0 (24Â·2 to 25Â·7)
1                21Â·4 (18Â·4 to 24Â·7)
2                29Â·0 (26Â·2 to 31Â·8)
3                17Â·5 (14Â·9 to 20Â·4)
4                27Â·2 (23Â·7 to 31Â·1)

  Annualised rate of change, female 1990â2015  \
0                  â1Â·7 (â2Â·0 to â1Â·4)
1                        0Â·1 (â2Â·0 to 2Â·3)
2                        0Â·0 (â1Â·3 to 1Â·2)
3                  â5Â·3 (â7Â·4 to â3Â·3)
4                     â0Â·1 (â1Â·3 to 1Â·0)

  Annualised rate of change, male 1990â2015  \
0                â1Â·3 (â1Â·5 to â1Â·2)
1                      0Â·5 (â0Â·4 to 1Â·3)
2                   â0Â·5 (â1Â·0 to 0Â·0)
3                â1Â·2 (â2Â·1 to â0Â·3)
4                   â0Â·4 (â1Â·2 to 0Â·3)

  Annualised rate of change, female 1990â2005  \
0                  â1Â·6 (â2Â·0 to â1Â·2)
1                     â0Â·1 (â3Â·5 to 3Â·1)
2                     â0Â·8 (â2Â·6 to 1Â·1)
3                  â5Â·4 (â8Â·6 to â2Â·5)
4                        0Â·4 (â1Â·2 to 2Â·0)

  Annualised rate of change, male 1990â2005  \
0                â1Â·2 (â1Â·4 to â1Â·0)
1                      0Â·6 (â0Â·8 to 2Â·0)
2                â1Â·0 (â1Â·7 to â0Â·3)
3                â1Â·7 (â3Â·0 to â0Â·4)
4                   â0Â·4 (â1Â·4 to 0Â·7)

  Annualised rate of change, female 2005â2015  \
0                  â1Â·8 (â2Â·4 to â1Â·1)
1                        0Â·4 (â4Â·2 to 4Â·6)
2                        1Â·2 (â1Â·3 to 3Â·6)
3                  â5Â·1 (â9Â·6 to â0Â·7)
4                     â0Â·9 (â3Â·0 to 1Â·2)

  Annualised rate of change, male 2005â2015
0                â1Â·5 (â1Â·9 to â1Â·1)
1                      0Â·2 (â1Â·7 to 2Â·1)
2                      0Â·2 (â0Â·8 to 1Â·2)
3                   â0Â·4 (â2Â·1 to 1Â·5)
4                   â0Â·4 (â1Â·9 to 1Â·0)

For our analysis we are interested in the relationship between the Anualised rate of change in smoking habit for male and female for the year 1990 to 2015. We the then extract the relevant columns in the extracted data. We then clean the data by removing non numeric characters in the data

In [28]:
rate_male = df["Annualised rate of change, male 1990â2015"].str.split('[ (]',expand=True)
rate_female = df["Annualised rate of change, female 1990â2015"].str.split('[ (]',expand=True)

In [29]:
rate_male.drop(rate_male.columns[[1]], axis=1,inplace=True)
rate_female.drop(rate_female.columns[[1]], axis=1,inplace=True)

In [30]:
rate_male=rate_male.replace("â", "-", regex=True)
rate_male=rate_male.replace("Â", "", regex=True)
rate_male=rate_male.replace(" ", "", regex=True)
rate_male=rate_male.replace("·", ".", regex=True)

rate_female=rate_female.replace("â", "-", regex=True)
rate_female=rate_female.replace("Â", "", regex=True)
rate_female=rate_female.replace(" ", "", regex=True)
rate_female=rate_female.replace("·", ".", regex=True)

In [31]:
rate_male = rate_male[[0]]
rate_female = rate_female[[0]]

We then convert the values from object type to float in order to perform necessary analysis

In [34]:
rate_male[[0]] = rate_male[[0]].astype(float)
rate_female[[0]] = rate_female[[0]].astype(float)

In [35]:
data = pd.concat([df["Unnamed: 0"],rate_female, rate_male], axis=1)
data.columns = ['Country','rate_female','rate_male']

We also want to visualize our data according to the criterias,  
"Female increase male increase"
"Female increase male decrease"
"Female decrease male increase"
"Female decrease male decrease"

In [36]:
category = []
nrow = data.shape[0]

In [37]:
for i in range(nrow):
    if data.iloc[i,1]>0 and data.iloc[i,2]>0:
        category.append("Female_increase male_increase")
    elif data.iloc[i,1]>0 and data.iloc[i,2]<0:
        category.append("Female_increase male_decrease")
    elif data.iloc[i,1]<0 and data.iloc[i,2]>0:
        category.append("Female_decrease male_increase")
    else:
        category.append("Female_decrease male_decrease")

In [38]:
cat = pd.DataFrame(category, columns=['category'])

In [40]:
data = pd.concat([data,cat], axis=1)

We look at the summary statistics for the data

In [42]:
data.describe()

       rate_female   rate_male
count   196.000000  196.000000
mean     -0.846429   -0.829592
std       1.449116    0.988779
min      -5.300000   -4.100000
25%      -1.700000   -1.400000
50%      -0.800000   -0.750000
75%      -0.100000   -0.300000
max       4.500000    2.400000

Now we need to check if there any missing values in our data. There are no missing values in our data

In [43]:
data.isnull().sum()    #counting number of missing values in each clouns

Country        0
rate_female    0
rate_male      0
category       0
dtype: int64

We are saving the data into a csv file in order to do the visualisation in R

In [45]:
data.to_csv('mydata.csv')

There point in the plot that are labelled accroding to their countries and some are not. It took me time to understand that and i belive that the points are labelled according countries with women that are taking up the habit even as men quit.

# What was the most challenging part of this exercise?

This was a great exersise. The most challenging part was figuring out why some points are labelled and why some are not

# What took you the longest?
Again, it took time in figuring out why some points are labelled and why some are not

# What did you enjoy the most?

The exercise was enjoyable and it was satisfying to be able to get data directly from the internet. I really enjoyed the challenge.

# What did you enjoy the least?
This excersise was all data analysis and programming, and this is what i enjoy. Nothing in the excersize was less enjoyable